# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Build artifacts
build
*.zip

# Environment / secrets
.env
.env.*

# Logs
*.log

# Editor / IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
